node_modules
*.log
yarn.lock
env
.vscode
.DS_Store
InfiniteMeals/InfiniteMeals.iOS/obj/iPhone/Debug/*
./InfiniteMeals/InfiniteMeals.iOS/obj/iPhone/Debug/mtouch-cache/arm64/Xamarin.iOS.dll.s
./InfiniteMeals/InfiniteMeals.iOS/obj/iPhone/Debug/mtouch-cache/arm64/mscorlib.dll.s
./InfiniteMeals/InfiniteMeals.iOS/obj/iPhone/Debug/mtouch-cache/arm64/InfiniteMeals.iOS
./InfiniteMeals/InfiniteMeals.iOS/bin/iPhone/Debug/InfiniteMeals.iOS.app.dSYM/Contents/Resources/DWARF/InfiniteMeals.iOS
./.git/objects/pack/pack-834e140027206f53686eaa9704bf9f668c2de4a0.pack
./.git/objects/pack/pack-f01e54dbeca2a42923c9a006a1706460622d8d19.pack
./.git/objects/pack/pack-51e76fac02c2e21f56f1dcb0f591fc82ca548b66.pack
bin/iPhone/Debug/*
Debug
/bin/Release/*
InfiniteMeals/InfiniteMeals.iOS/bin/iPhone/Debug/*
InfiniteMeals/InfiniteMeals/obj/Debug/*
InfiniteMeals/InfiniteMeals.iOS/obj/iPhone/Debug/*
InfiniteMeals/InfiniteMeals/obj/Debug/*
InfiniteMeals/InfiniteMeals/obj/Debug/netstandard2.0/
InfiniteMeals/InfiniteMeals.iOS/bin/iPhone/Debug/
netstandard2.0/
**/bin/iPhone/*
InfiniteMeals/InfiniteMeals.iOS/bin/iPhone/Debug
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/